<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http_equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title>About</title>
</head>

<body>
    <form action = "createNewFilm" method = "POST">
        <label for = "newfilm"> Film Name </label>
        <input type="text" id="newfilm" name="newfilm" placeholder="Enter name of film here">
        <input type="submit" value="Create Film!">
    </form>
</body>

</html>